<div class="goal-bg">
    <div class="container">
        <h4>Life Insurance</h4>
        <p>
            Life Insurance can be defined as a contract between an insurance policy holder and aninsurance company, where the insurer promises to pay a sum of money in exchange for apremium, upon the death of an insured person or after a set period.
        </p>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Insurance Calculator</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                            <label for="floatingInput">Age</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                            <label for="floatingInput">Retirement Age</label>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                            <label for="floatingInput">Annual Income</label>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                            <label for="floatingInput">My Existing Life Cover</label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button type="button" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>