<!-- <div class="goal-bg">
    <div class="container mt-3">
        <h4 style="color: #06415f">Life Insurance</h4>
        <p style="color: #06415f">
            <strong>Insurance can be defined as a contract between an insurance policy
        holder and aninsurance company, where the insurer promises to pay a sum
        of money in exchange for a premium, upon the death of an insured person
        or after a set period.</strong
      >
    </p>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Insurance Calculator</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="Annual Income"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="Monthly Commitment"
              />
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="Premium Amount"
              />
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="Insurance Coverage"
              />
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-info">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="card text-center"> -->
  <div class="goal-bg">
  <div class="container mt-3">
    
    <!-- <h4 style="color: #06415f">My Ideal Life Coverage</h4>
        <p style="color: #06415f">
           
        <input type="number" name="points" step="1"> -->

      <!-- > -->
      <div class="container">
        <div class="row">
          <div class="col">
            <h4 style="color: #06415f">My Ideal Life Coverage</h4>
        
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p style="color: #06415f"> 

              <input
              type="number"
              class="form-control"
              id="floatingInput"
              placeholder="41 yrs"
              
            />
             </p>
          </div>
          
        </div>
        
        <div class="row ">
          <div class="col">
            <div class="form-floating">
              <label><strong>Policy Term</strong></label>
            <input
              type="number"
              class="form-control"
              id="floatingInput"
              placeholder="41 yrs"
            />
          </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <label><strong> Till Age </strong></label>
            <input
              type="number"
              class="form-control"
              id="floatingInput"
              placeholder="65 yrs"
            />
          </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <label><strong>Pay For</strong></label>
            <input
              type="number"
              class="form-control"
              id="floatingInput"
              placeholder="41 yrs"
            />
          </div>
          </div>
        </div>

      
      </div>
<br/>
<hr/>

  
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Insurance Suggestion</h5>
      <p class="card-text">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Max Life</h5>
              <small>500/mo</small>
            </div>
            <p class="mb-1">Smart Secure Plus</p>
            <small>Claims Settled:99.35%</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">ICICI Prudential</h5>
              <small class="text-muted">800/mo</small>
            </div>
            <p class="mb-1">iProtect Smart</p>
            <small class="text-muted">Claims Settled:97.8%</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">LIC Insurance</h5>
              <small class="text-muted">1200/mo</small>
            </div>
            <p class="mb-1">Jeevan Sathi.</p>
            <small class="text-muted">Claims Settled:96.8%</small>
          </a>
        </div>
      <br/>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 </div> 
</div>
