.goal-outer {
    border-radius: 10px;
    border: 1px solid rgb(238, 233, 233);
    background: #fff;
}

#rcorners1 {
    border-radius: 30px;
    background: white;
    padding: 20px;
    width: -fit-content;
    height: 50px;
}

.digital-active-content {
    background: #fff;
}

.digital-message {
    background: #c3cdcf;
    border-radius: 10px;
    border: 0.5px solid rgb(238, 233, 233);
}

.badge-place {
    position: absolute;
    top: 0px;
    left: 50px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #a38b00;
    background: #fbedac;
}