.goal-outer {
  border-radius: 10px;
  border: 1px solid rgb(17, 3, 3);
  background: #fff;
}

#rcorners1 {
  border-radius: 30px;
  background: white;
  padding: 20px; 
  width: -fit-content;
  height: 50px; 
}