<div class="digital-active-content">
    <div class="container py-4">
        <div class="digital-message p-1" style="background: #b0e2d6">
            <h6 class="py-2 mb-0"><strong>Welcome to financial planning</strong></h6>
            <p class="mb-0">
                Need a good goal to start with? <strong>Life Insurance</strong> might be helpful. You can work on multiple goals at a time.
            </p>
        </div>
        <div class="active-content p-1">
            <h6 class="py-2 mb-0">Subscribed Goal</h6>
            <div class="digital-message p-2 d-flex align-items-center justify-content-between">
                <div class="container">
                    <div class="row">
                <p class="mb-0">  <strong>Life Insurance </strong> </p>
                
                
                    
                      <div class="col py-6">
                        <!-- <div class="col-md-6"> -->
                            <div class="form-floating">
                                <label>Premium Amount</label>
                              <input
                                type="number"
                                class="form-control"
                                id="floatingInput"
                                placeholder="0.00"
                              />
                            </div>
                      </div>
                      <div class="col py-6">
                        <div class="form-floating">
                            <label>Maturity Date</label>
                            <input
                              type=""
                              class="form-control"
                              id="floatingInput"
                              placeholder="Maturity Date"
                            />
                          </div>
                      </div>
                      
                      <div class="col py-6">
                        <div class="form-floating">
                            <label>Next Premium Date</label>
                            <input
                              type=""
                              class="form-control"
                              id="floatingInput"
                              placeholder="Due Date"
                            />
                          </div>
                      </div>
                      <a href="javascript:void(0)" class="px-2">Update Goal</a>
                    </div>
                    
                  </div>
                
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="">
        <!-- <i class='fas fa-award' style='font-size:4px'></i> -->
        <div class="">
            <h3>Building a foundation</h3>
            <p>
                These are the tools and foundational goals to understand and build your financial journey.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <span class="badge-place">Consider this goal</span>
                <p class="mb-0 p-2">Create Budget</p>
                <a href="javascript:void(0)" class="px-2" routerLink="/goal">View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <span class="badge-place">Recommended</span>
        <p class="mb-0 p-2">Life Insurance</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">Health Insurance</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">Pay your Debt</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">Emergency Funds</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">Save  for 3-6 months expenses</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
  </div>
  <div class="d-flex pt-3">
    <img />
    <div class="">
      <h3>Leveling up</h3>
      <p>
        These goals and tools are built directly off the foundational work, they're the next
         steps to help you prepare for your financial journey.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">Mutual Fund Investment</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">Stock Market Advisory</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">National Pension Scheme</p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
    <div class="col-md-6 pt-2">
      <div class="goal-outer d-flex align-items-center justify-content-between">
        <p class="mb-0 p-2">Tax saver strategy </p>
        <a href="javascript:void(0)" class="px-2" routerLink="/goal"
          >View Goal</a
        >
      </div>
    </div>
  </div>
</div>