<div class="digital-active-content">
    <div class="container py-4">
        <div class="digital-message p-1" style="background: #bcdce1">
            <h6 class="py-2 mb-0"><strong>Welcome to financial planning</strong></h6>
            <p class="mb-0">
           Need a good goal to start with? <strong>Life Insurance</strong> might be helpful. You can work on multiple goals at a time.
            </p>
        </div>
        <div class="active-content p-1">
            <h6 class="py-2 mb-0">Subscribed Goal</h6>
            <div class="digital-message p-2 d-flex align-items-center justify-content-between">
                <p class="mb-0">Life Insurance</p>
                <a href="javascript:void(0)" class="px-2">Update Goal</a>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="d-flex pt-3">
        <img />
        <div class="">
            <h3>Building a foundation</h3>
            <p>
                These are the tools and foundational goals to understand and build your financial journey.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <span class="badge-place">This might be helpful</span>
                <p class="mb-0 p-2">Life Insurance</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <span class="badge-place">Recommended</span>
                <p class="mb-0 p-2">Health Insurance</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Emergency Fund</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Pay your Debt</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Investments Planning</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <span class="badge-place">unaffordable</span>
                <p class="mb-0 p-2">Saving for House</p>
                <a href="javascript:void(0)" class="px-2">View Tools</a>
            </div>
        </div>
    </div>
    <div class="d-flex pt-3">
        <img />
        <div class="">
            <h3>Leveling up</h3>
            <p>
                These goals and tools are built directly off the foundational work abd will help you identify next steps in your financial journey.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Life Insurance</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Home Insurance</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Pay out Debt</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Emergency fund</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="goal-outer d-flex align-items-center justify-content-between">
                <p class="mb-0 p-2">Investment</p>
                <a href="javascript:void(0)" class="px-2">View Goal</a>
            </div>
        </div> 
     </div>
</div> 