<div class="survey-parent-list">
  <div class="p-3">
    <div class="card survey-card p-2">
      <div class="row">
        <div class="col-md-6">
          <accordion [isAnimated]="true">
            <accordion-group>
              <div class="form-check" accordion-heading>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label mx-2" for="flexCheckDefault">
                  Do you have life insurance
                </label>
                <em class="fas fa-chevron-down float-right mt-2"></em>
              </div>
              <p>Some content</p>
            </accordion-group>
            <accordion-group>
              <div class="form-check" accordion-heading>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label mx-2" for="flexCheckDefault">
                  Do you have Medical insurance
                </label>
                <em class="fas fa-chevron-down float-right mt-2"></em>
              </div>
              <p>Some content</p>
            </accordion-group>
            <accordion-group>
              <div class="form-check" accordion-heading>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label mx-2" for="flexCheckDefault">
                  Do you have any sort of loans/credit card bills
                </label>
                <em class="fas fa-chevron-down float-right mt-2"></em>
              </div>
              <p>Some content</p>
            </accordion-group>
            <accordion-group>
              <div class="form-check" accordion-heading>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label mx-2" for="flexCheckDefault">
                  Interested in any emergency fund
                </label>
                <em class="fas fa-chevron-down float-right mt-2"></em>
              </div>
              <p>Some content</p>
            </accordion-group>
            <accordion-group>
              <div class="form-check" accordion-heading>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label mx-2" for="flexCheckDefault">
                  Any other investments
                </label>
                <em class="fas fa-chevron-down float-right mt-2"></em>
              </div>
              <p>Some content</p>
            </accordion-group>
          </accordion>

          <div class="card button-card mt-5 mx-2">
            <div class="d-flex justify-content-between my-3">
              <button type="button" class="btn btn-outline-info mx-2">
                Skip Questions
              </button>
              <button type="button" class="btn btn-info mx-2">Continue</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img
            alt="survey-image"
            class="survey-image-style"
            src="../../../../assets/image/survey.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
