accordion-group {
    padding: 10px;
}

.survey-icons {
    width: 70px;
    height: 70px;
}

accordion-group {
     ::ng-deep {
        div {
            &.panel {
                border: none;
            }
            &>div.panel-heading.card-header.panel-enabled {
                border: none;
                background: none;
                font-size: 20px;
            }
            &.panel-body.card-block.card-body {
                padding: 0px !important;
            }
        }
    }
}

em {
    color: #17a2b8;
}

input.form-check-input {
    transform: scale(2);
    margin-top: 10px;
}

.custom-control-label {
    &::before {
        top: 5px;
        left: -16px;
    }
    &::after {
        top: 5px;
        left: -16px;
    }
}

.w-5 {
    width: 5%;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #17a2b8;
    background-color: #17a2b8;
}